{
  "parser": "babel-eslint",
  "plugins": [
    "prettier",
    "react",
    "react-hooks"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": ["error"],
    "import/prefer-default-export": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off"
  },
  "extends": [
    "airbnb-base",
    "react-app",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "moduleDirectory": ["node_modules", "src"]
      }
    }
  }
}
